#llama-index
#llama-index-vector-stores-postgres
#llama-index-llms-ollama
#llama-index-embeddings-huggingface
#celery
#crawl4ai
#sentence-transformers
#aiofiles
#psutil
#torch
#numpy
fastapi
uvicorn[standard]
psycopg[binary]
requests
pydantic-settings
pydantic[email]
redis
asyncpg
httpx
python-multipart
